// nextflow.config

params {
  manifest = 'assets/manifest.csv'
  ngc_key  = 'assets/key.ngc'
  ref_dir  = 'assets/ref'
}

process {
  executor = 'slurm'
  cpus = 12
  memory = '50 GB'
  time = '24h'

  withName:sort_bam {
    memory = '100 GB'
    cpus = 6
  }
}

profiles {
  slurm {
    process.executor = 'slurm'
  }

  local {
    process.executor = 'local'
  }
}

