// nextflow.config

params {
  manifest = 'assets/manifest.csv'
  ngc_key  = 'assets/key.ngc'
  ref_dir  = 'assets/ref'
}

process {
  cpus = 12
  memory = '120 GB'
  time = '24h'

  withName:sort_bam {
    cpus = 6
    memory = '100 GB'
  }
}

profiles {

  // HPC (SLURM) profile using Singularity container
  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$HOME/.singularity_cache"
    singularity.runOptions = ''
  }

  // Local machine profile using Docker container
  local {
    process.executor = 'local'
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
}

// Enable Conda fallback : if no container is used
conda {
  enabled = true
}
