params {
  manifest = 'assets/manifest.csv'
  ngc_key  = 'assets/key.ngc'
  ref_dir  = 'assets/ref'
}

process {
  cpus = 12
  memory = '50 GB'
  time = '24h'

  withName:sort_bam {
    cpus = 6
    memory = '100 GB'
  }
}

profiles {
  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
    singularity.autoMounts = true
  }

  local {
    process.executor = 'local'
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
}
